.basket-full {
  background: url("../img/bg_basket-full.jpg") center center no-repeat;
  background-size: cover;

  .order-forward {
    width: 100%;
    margin-bottom: 30px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    box-shadow: 0 5px 13px rgba(176, 176, 176, 0.18);
    background-color: #f8f7f8;
    border-bottom: 1px solid #c5a059;

    .requisites,
    .add-info {
      flex: 1 50%;
      padding: 30px;
      display: flex;
      flex-flow: row wrap;
      align-items: flex-start;
      color: #1c1e2b;
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 400;
    }

    .jq-selectbox {
      width: 96%;
      margin: 0 2% 40px;
      text-align: left;

      .jq-selectbox__select {
        background: none;
        border: none;
        box-shadow: none;
        border-radius: 0;
        border-bottom: 1px solid #000;
        padding: 0;
        opacity: 0.75;
        color: #1c1e2b;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 400;
        line-height: 26px;
      }
      .jq-selectbox__trigger {
        border: none;
      }
      .jq-selectbox__dropdown {
        border-radius: 0;
        color: #1c1e2b;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 400;
        line-height: 26px;
      }
      li:hover {
        background: $btn-text-color;
      }
    }

    p {
      min-height: 52px;
      margin: 0 1% 20px;
      flex: 1 100%;
      text-align: left;
      color: #1c1e2b;
      font-family: $default-font;
      font-size: 18px;
      font-weight: 700;
    }

    input[name=name],
    input[name=surname],
    input[type=email],
    input[type=tel],
    input[name=country-2],
    input[name=index]{
      flex: 1 46%;
      margin: 0 2% 40px;
      padding: 0 0 8px 0;
      background: none;
      border: none;
      border-bottom: 1px solid #000;
      outline: none;
      opacity: 0.75;
    }

    input[name=name_company],
    input[name=address],
    input[name=city],
    textarea{
      flex: 1 96%;
      margin: 0 2% 40px;
      padding: 0 0 8px 0;
      background: none;
      border: none;
      border-bottom: 1px solid #000;
      outline: none;
      opacity: 0.75;
    }

    input {
      &:focus {
        border-bottom: 1px solid $btn-text-color;
      }
    }
    #select-order {
      &:focus {
        cursor: pointer;
      }
    }
    textarea {
      width: 100%;
      height: 100px;
      opacity: 0.75;
      &:focus {
        border-bottom: 1px solid $btn-text-color;
      }
    }

    .add-info {
      display: block;
      text-align: left;

      .jq-radio {
        width: 13px;
        height: 13px;
        border-radius: 0;
        border: 1px solid #c5a059;
      }


      .jq-radio.checked {

        .jq-radio__div {
          position: absolute;
          bottom: 2px;
          right: 2px;
          width: 7px;
          height: 7px;
          border-radius: 0;
          background-color: #c5a059;
        }
      }

      label {
        display: inline-block;
        text-align: left;

        p {
          display: inline-block;
          margin-bottom: 0;
          opacity: 0.75;
          color: #1c1e2b;
          font-family: "Open Sans";
          font-size: 14px;
          font-weight: 400;
          line-height: 26px;
          opacity: 0.75;
        }
      }
    }
  }

  .full {
    width: 100%;
    overflow: auto;
    padding: 7px;
    background-color: #f8f7f8;
    box-shadow: 0 3px 7px rgba(226, 226, 228, 0.35);
    margin-bottom: 10px;

    table {
      width: 100%;
      border: 1px solid $btn-text-color;

      .off-row {
        opacity: 0;
        transform: translate(200%, 0);
      }
      .hlop {
        display: none;
      }
      tr {
        transition-property: opacity, transform, position;
        transition-delay: 0, 0, 0.25s;
        transition-duration: 0.3s, 0.5s;
        transition-timing-function: ease-in;
      }

      .capt {
        border-bottom: 1px solid #c5a059;

        th {
          height: 55px;
          vertical-align: middle;
          color: #756757;
          font-size: 16px;
          font-weight: 400;
          text-transform: uppercase;
          padding: 10px;
        }

        #weight {
          text-align: left;
        }

        .close-basket {
          border-left: 1px solid #c5a059;
          min-width: 66px;
          padding: 0;

          a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            cursor: pointer;
            text-decoration: none;
            color: #756757;
            font-size: 20px;

            &:hover {
              background: $btn-text-color;
              color: #fff;
            }
          }
        }
      }

      .img {
        text-align: center;
        vertical-align: top;
      }
      .description {
        text-align: left;
        vertical-align: top;
        padding-left: 20px;

        p {
          color: #756757;
          font-size: 14px;
          font-weight: 400;
          line-height: 18px;
        }
        .articul {
          color: #757575;
          font-family: "Open Sans";
          font-size: 11px;
          font-weight: 300;
          text-transform: uppercase;
          margin-bottom: 20px;
        }
      }

      td {
        text-align: center;
        vertical-align: middle;
        padding: 20px 10px;

        .jq-number {
          width: 65px;
          height: 45px;
          padding: 0;
          border: 1px solid #c5a059;
          color: #333333;
          font-family: "Open Sans";
          font-size: 13px;
          font-weight: 300;

          &:hover .jq-number__spin.minus {
            display: block;
          }
          &:hover .jq-number__spin.plus {
            display: block;
          }
          &:hover .quant {
            width: 42px;
            margin-left: -25px;
          }
        }
        .jq-number__field {
          width: 100%;
          height: 100%;
          vertical-align: middle;
          box-shadow: none;
          border: none;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .jq-number__spin.minus {
          display: none;
          width: 22px;
          height: 22px;
          color: #fff;
          border: 1px solid $btn-text-color;
          border-right: none;
          border-bottom: none;
          border-radius: 0;
          box-shadow: none;

          &:hover {
            background: $btn-text-color;
          }
          &:after {
            position: absolute;
            color: $btn-text-color;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
        .jq-number__spin.plus {
          display: none;
          width: 22px;
          height: 22px;
          color: #fff;
          border: 1px solid $btn-text-color;
          border-right: none;
          border-bottom: none;
          border-radius: 0;
          box-shadow: none;

          &:hover {
            background: $btn-text-color;
          }
          &:after {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
        .quant {
          color: #333333;
          font-family: "Open Sans";
          font-size: 13px;
          font-weight: 300;
          text-align: center;
        }

        .delete-row {
          width: 35px;
          height: 35px;
          border: 1px solid #c5a059;
          cursor: pointer;
          color: #756757;
          font-size: 15px;
          display: flex;
          margin: auto;
          justify-content: center;
          align-items: center;
          text-decoration: none;

          &:hover {
            background: $btn-text-color;
            color: #fff;
          }
        }
      }

      .weight {
        text-align: left;
        color: #756757;
        font-size: 18px;
        font-weight: 400;
      }
      .sum {
        color: #756757;
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        white-space: nowrap;

        span {
          font-family: $valuta-font;
        }
      }
    }
  }
  .order {
    padding: 7px;
    background-color: #f8f7f8;
    box-shadow: 0 3px 7px rgba(226, 226, 228, 0.35);
    width: 100%;

    .frame {
      width: 100%;
      border: 1px solid #c5a059;
      padding: 30px 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .pay-variant {
        display: flex;
        flex-flow: nowrap;
        justify-content: space-between;
        align-items: center;
        color: #756757;
        font-size: 18px;
        font-weight: 400;

        .text {
          text-transform: uppercase;
          margin-right: 30px;
        }
        .carta {
          font-size: 20px;
          text-transform: normal;
        }
      }

      .totals {
        display: flex;

        p {
          margin: 0 15px;
          color: #756757;
          font-size: 18px;
          font-weight: 400;
        }
        .sum {
          font-size: 20px;
        }
      }
    }
  }
}