.row_wrapen {
  width: 100%;
  display: flex;
  margin: auto;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;

  .item {
    min-width: 260px;
    height: 255px;
    flex: 1;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    .qunt_img {
      position: relative;

      &:after {
        content: '';
        width: 70px;
        height: 1px;
        border: 1px dashed #c5a059;
        transform: rotate(45deg);
        position: absolute;
        top: -25%;
        left: -45%;
      }
      &:before {
        content: '';
        width: 70px;
        height: 1px;
        border: 1px dashed #c5a059;
        transform: rotate(45deg);
        position: absolute;
        bottom: -25%;
        right: -45%;
      }

      .quant {
        position: absolute;
        bottom: 20px;
        left: -55px;
        color: #1c1e2b;
        font-size: 76px;
        line-height: 23px;
        font-weight: 700;
        z-index: 99;
      }
    }
    .text {
      margin-top: 20px;
      color: #c5a059;
      font-family: "Open Sans";
      font-size: 18px;
      font-weight: 400;
      line-height: 23px;
      white-space: pre-line;
      text-align: center;
    }
  }
}
.title-line {
  margin-bottom: 65px;
}