.partners {
  background: url("../img/bg_part.jpg") center center no-repeat;
  background-size: cover;
  padding: 70px 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  #part-carous {
    max-width: 1015px;
    display: flex;
    justify-content: space-between;

    .owl-stage-outer {
      width: 100%;

      .owl-stage {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .owl-item {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          .slide-hover {
            display: none;
            position: absolute;
            top: 1px;
            left: 0;
          }
          &:hover .slide {
            display: none;
          }
          &:hover .slide-hover {
            display: block;
          }
        }
      }
    }

    .owl-nav {
      display: block;
    }
    .owl-prev {
      position: absolute;
      top: 30%;
      left: -97px;
      font-size: 0px;

      &:after {
        content: "\f060";
        font-family: FontAwesome;
        font-size: 20px;
      }

      &:hover {
        color: $btn-text-color;
      }
    }
    .owl-next {
      position: absolute;
      top: 30%;
      right: -77px;
      font-size: 0px;

      &:after {
        position: absolute;
        content: "\f061";
        font-family: FontAwesome;
        font-size: 20px;
      }
      &:hover {
        color: $btn-text-color;
      }
    }
  }
}



